body
{
    font-family: sans-serif;
}
table.outer
{
    margin: 12pt;
    border: none;
}
th.outer
{
    padding-top: 15pt;
}
td.outer
{
    padding:7pt;
}
table
{
    border-collapse:collapse;
    border: 1px solid black;
}
td
{
    padding:5pt;
}
img
{
    vertical-align: bottom;
}