<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanInterval="10 seconds">
  <property name="logdir" value="logs/"/>
  <property name="arcend" value=".log.%i.gz"/>
  <property name="longpattern" value="%d{yyyy-MM-dd HH:mm:ss} %thread %-5le %lo{25} - %msg %rEx%n"/>
  <property name="shortpattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5le - %msg %rEx%n"/>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logdir}pbxis.log</File>
    <encoder>
      <pattern>${longpattern}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>12</maxIndex>
      <FileNamePattern>${logdir}pbxis${arcend}</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>4000KB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${shortpattern}</pattern>
    </encoder>
  </appender>
  <appender name="wire" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>
  <logger name="com.ingemark" level="ALL"/>
  <logger name="ami-event" level="INFO"/>
  <logger name="org.asteriskjava.manager.internal.EventBuilderImpl" level="ERROR"/>
  <logger name="org.asteriskjava.manager.internal.ResponseBuilderImpl" level="ERROR"/>
</configuration>
